.banner_sec {
    background: #8d31;
    height: 100vh;
    .banner_content {
        margin: 130px 0;
        h1 {
            color: var(--Secondary-Text, #383638);
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-family: Poppins;
            font-size: 40px;
            font-style: normal;
            font-weight: 700;
            text-transform: capitalize;
        }
        p {
            color: var(--Secondary-Text, #383638);
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px; /* 116.667% */
            text-transform: capitalize;
        }
        a {
            background: #8d31eb;
            color: #ffff;
            padding: 13px 30px;
            text-decoration: none;
            font-size: 18px;
            &:hover {
                border: 2px solid #8d31eb;
                color: #8d31eb;
                background: none;
                transition: 0.5s;
            }
        }
    }
    .banner_img {
        margin-left: 100px;
        img {
            width: 400px;
        }
    }
}


@media only screen and (max-width: 992px){
    .banner_content{
        margin-top: 200px !important;
    }
    .banner_img{
        display: none !important;
    }
}
@media only screen and (max-width: 576px){
    .banner_content{
        margin: 0 !important;
    }
    .banner_img{
        display: none !important;
    }
}

