.banner_sec {
    background: #8d31;
    height: 100vh;
    .banner_content {
        margin: 150px 0;
        h1 {
            font-weight: 600;
            color: #000000;
            text-shadow: 2px #383638;
        }
        p {
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 30px;
        }
        a {
            background: #8d31eb;
            color: #ffff;
            padding: 13px 30px;
            text-decoration: none;
            font-size: 18px;
            &:hover {
                border: 2px solid #8d31eb;
                color: #8d31eb;
                background: none;
                transition: 0.5s;
            }
        }
    }
    .banner_img {
        margin-left: 100px;
        img {
            width: 400px;
        }
    }
}

@media only screen and (max-width: 992px){
    .banner_content{
        margin-top: 200px !important;
    }
    .banner_img{
        display: none !important;
    }
}
@media only screen and (max-width: 576px){
    .banner_content{
        margin-top: 50px !important;
    }
    .banner_img{
        display: none !important;
    }
}