#blog{
    margin: 50px 0;

    h4{
        font-size: 30px;
        font-weight: 600;
        text-shadow: 2px #383638;
        text-align: center;
    }
    .blog_content{
        display: flex;
        align-content:center;
        justify-content: center;
        flex-direction: column;
        img{
            width: 350px;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        h6{
            font-size: 15px;
            font-weight: 600;
            padding-top: 15px;
            text-shadow: 2px #383638;
            color:black;
       }
        p{
            font-size: 15px;
            font-weight: 400;
            color: #383638;
        }
    }
}

@media only screen and (max-width: 992px){
    .blog_content{
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        h6{
            font-size: 15px !important;
            font-weight: 600;
            padding-top: 15px;
            text-shadow: 2px #383638;
            color:black;
       }
        p{
            font-size: 15px !important;
            width:60% !important;
            font-weight: 400;
            color: #383638;
            text-align: center !important;
        }
    }
}