#Footer {
    background: #f7efff;
    .footer_content {
        text-align: center;
        margin: 50px 0;
        h2 {
            color: #000;
            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 52px; /* 108.333% */
            text-transform: capitalize;
        }
        p {
            color: #000;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px; /* 125% */
        }
    }
}

.footer_end {
    margin-top: 10px;
    .logo {
        a {
            color: #8d31eb;
            font-size: 24px;
            font-style: normal;
            font-weight: 700;
            line-height: 28px; /* 116.667% */
            text-transform: capitalize;
            text-decoration: none;
        }
    }
    .F_nav {
        ul {
            display: flex;
            gap: 2rem;
            padding-top: 2px;
            a {
                text-decoration: none;
                color: #8d31eb;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 20px; /* 125% */
            }
        }
    }
}
