.site_header {
  background: #8d31;
  width: 100%;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .site_logo {
      margin: 10px 0;
      a {
        color: #8d31eb;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 28px; /* 116.667% */
        text-transform: capitalize;
        text-decoration:none;      
      }
    }
    .site_mav {
      padding-top: 20px;
      ul {
        display: flex;
        gap: 1rem;
        a {
          color: #8D31EB;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 20px; /* 125% */
          text-decoration: none;
        }
      }
    }
    .toggle_btn {
      font-size: 25px;
      color: #8d31eb;
      cursor: pointer;
      display: none;
    }
  }
}

@media only screen and (max-width: 992px) {
  .site_mav {
    display: none !important;
  }
  .toggle_btn {
    display: block !important;
  }
}
