@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200;300;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-decoration: none;
  list-style: none;
  font-family: "Sora", sans-serif;
}

.site_header {
  background: rgba(136, 221, 51, 0.0666666667);
  width: 100%;
}
.site_header .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site_header .header .site_logo {
  margin: 10px 0;
}
.site_header .header .site_logo a {
  font-size: 20px;
  font-weight: 500;
  color: #8d31eb;
  text-decoration: none;
}
.site_header .header .site_mav {
  padding-top: 20px;
}
.site_header .header .site_mav ul {
  display: flex;
  gap: 1rem;
}
.site_header .header .site_mav ul a {
  font-size: 18px;
  font-weight: 400;
  color: #8d31eb;
  text-decoration: none;
}
.site_header .header .toggle_btn {
  font-size: 25px;
  color: #8d31eb;
  cursor: pointer;
  display: none;
}

@media only screen and (max-width: 992px) {
  .site_mav {
    display: none !important;
  }
  .toggle_btn {
    display: block !important;
  }
}
.banner_sec {
  background: rgba(136, 221, 51, 0.0666666667);
  height: 100vh;
}
.banner_sec .banner_content {
  margin: 150px 0;
}
.banner_sec .banner_content h1 {
  font-weight: 600;
  color: #000000;
  text-shadow: 2px #383638;
}
.banner_sec .banner_content p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 30px;
}
.banner_sec .banner_content a {
  background: #8d31eb;
  color: white;
  padding: 13px 30px;
  text-decoration: none;
  font-size: 18px;
}
.banner_sec .banner_content a:hover {
  border: 2px solid #8d31eb;
  color: #8d31eb;
  background: none;
  transition: 0.5s;
}
.banner_sec .banner_img {
  margin-left: 100px;
}
.banner_sec .banner_img img {
  width: 400px;
}

@media only screen and (max-width: 992px) {
  .banner_content {
    margin-top: 40px !important;
  }
  .banner_img {
    display: none !important;
  }
}
.Testimonial_sec {
  margin: 20px 0;
}
.Testimonial_sec .testimonial_content h4 {
  font-size: 25px;
  font-weight: 600;
  text-shadow: 2px #383638;
  text-align: center;
}
.Testimonial_sec .testimonial_content ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
  color: #8d31eb;
}
.Testimonial_sec .testimonial_content p {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  color: #383638;
}
.Testimonial_sec .testimonial_content span {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 600;
  text-shadow: 2px #383638;
}

.probiotics_sec {
  margin: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 0, 0, 0.01);
}
.probiotics_sec h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: 600;
  text-shadow: 2px #383638;
}
.probiotics_sec .product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.probiotics_sec .product h4 {
  font-size: 20px;
  font-weight: 600;
  text-shadow: 2px #383638;
}
.probiotics_sec .product ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  color: #8d31eb;
  line-height: 30px;
}
.probiotics_sec .product ul li span {
  color: #383638;
}
.probiotics_sec .product h6 {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  text-shadow: 2px #383638;
  line-height: 30px;
}

#Team .content h4 {
  font-size: 30px;
  font-weight: 600;
  text-shadow: 2px #383638;
  text-align: center;
}
#Team .content p {
  font-size: 17px;
  font-weight: 300;
  text-shadow: 2px #383638;
  text-align: center;
}
#Team .our_team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#Team .our_team h6 {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  text-shadow: 2px #383638;
  padding-top: 10px;
}
#Team .our_team span {
  font-size: 15px;
  font-weight: 300;
  color: #383638;
}
#Team .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}
#Team .btn a {
  background: #8d31eb;
  font-size: 18px;
  font-weight: 300;
  padding: 7px 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 2px;
}
#Team .btn a:hover {
  background: none;
  color: #8d31eb;
  border: 1px solid #8d31eb;
  font-size: 18px;
  font-weight: 300;
  transition: 0.5s;
}/*# sourceMappingURL=style.css.map */