@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200;300;500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  text-decoration: none;
  list-style: none;
  font-family: "Sora", sans-serif;
}

.header {
  background: rgba(136, 221, 51, 0.0666666667);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
}

.logo a {
  color: #8d31eb;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 116.667% */
  text-transform: capitalize;
  text-decoration: none;
  padding-left: 85px;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.menu a {
  color: #8d31eb;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  text-decoration: none;
  padding: 12px;
}

.menu-icon {
  display: none;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ .menu {
  transform: scale(1, 1);
}

@media only screen and (max-width: 950px) {
  .menu {
    flex-direction: column;
    background-color: #8d31eb;
    align-items: start;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 50vh;
    z-index: 1;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    box-shadow: rgba(255, 255, 255, 0.15) 1.95px 1.95px 2.6px;
  }
  .menu a {
    margin-left: 12px;
    color: #fff;
  }
  .menu li {
    margin-bottom: 10px;
  }
  .menu-icon {
    display: block;
    color: #8d31eb;
    font-size: 28px;
    cursor: pointer;
  }
}
.banner_sec {
  background: rgba(136, 221, 51, 0.0666666667);
  height: 100vh;
}
.banner_sec .banner_content {
  margin: 130px 0;
}
.banner_sec .banner_content h1 {
  color: var(--Secondary-Text, #383638);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  text-transform: capitalize;
  padding-left: 12px;
}
.banner_sec .banner_content p {
  color: var(--Secondary-Text, #383638);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 116.667% */
  text-transform: capitalize;
  padding-left: 12px;
}
.banner_sec .banner_content a {
  background: #8d31eb;
  color: white;
  padding: 13px 30px;
  text-decoration: none;
  font-size: 18px;
}
.banner_sec .banner_content a:hover {
  border: 2px solid #8d31eb;
  color: #8d31eb;
  background: none;
  transition: 0.5s;
}
.banner_sec .banner_img {
  margin-left: 100px;
}
.banner_sec .banner_img img {
  width: 400px;
}

@media only screen and (max-width: 992px) {
  .banner_content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
  }
  .banner_content .btn {
    margin-left: -225px !important;
  }
  .banner_img {
    display: none !important;
  }
}
@media only screen and (max-width: 576px) {
  .banner_content .btn {
    margin-left: -175px !important;
  }
  .banner_img {
    display: none !important;
  }
}
.Testimonial_sec {
  margin: 20px 0;
}
.Testimonial_sec .testimonial_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Testimonial_sec .testimonial_content h4 {
  color: var(--Secondary-Text, #383638);
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 116.667% */
  text-transform: capitalize;
}
.Testimonial_sec .testimonial_content ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 0;
  color: #8d31eb;
}
.Testimonial_sec .testimonial_content p {
  color: var(--Secondary-Text, #383638);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}
.Testimonial_sec .testimonial_content span {
  color: #000;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
}

.probiotics_sec {
  margin: 60px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 0, 0, 0.01);
}
.probiotics_sec h4 {
  color: var(--Secondary-Text, #383638);
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 108.333% */
  text-transform: capitalize;
}
.probiotics_sec .product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.probiotics_sec .product img {
  height: 400px;
}
.probiotics_sec .product h4 {
  color: var(--Secondary-Text, #383638);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 116.667% */
  text-transform: capitalize;
}
.probiotics_sec .product ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  color: #8d31eb;
  line-height: 30px;
}
.probiotics_sec .product ul li span {
  color: #383638;
}
.probiotics_sec .product h6 {
  color: var(--Secondary-Text, #383638);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
}

#Team .content h4 {
  font-size: 30px;
  font-weight: 600;
  text-shadow: 2px #383638;
  text-align: center;
}
#Team .content p {
  font-size: 17px;
  font-weight: 300;
  text-shadow: 2px #383638;
  text-align: center;
}
#Team .our_team {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#Team .our_team h6 {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  text-shadow: 2px #383638;
  padding-top: 10px;
}
#Team .our_team span {
  font-size: 15px;
  font-weight: 300;
  color: #383638;
}
#Team .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}
#Team .btn a {
  background: #8d31eb;
  font-size: 18px;
  font-weight: 300;
  padding: 7px 20px;
  color: #fff;
  text-decoration: none;
  border-radius: 2px;
}
#Team .btn a:hover {
  background: none;
  color: #8d31eb;
  border: 1px solid #8d31eb;
  font-size: 18px;
  font-weight: 300;
  transition: 0.5s;
}

#Meassage {
  background: rgba(0, 0, 255, 0.03);
}
#Meassage .message_content {
  margin: 100px 0;
}
#Meassage .message_content h4 {
  font-size: 30px;
  font-weight: 600;
  text-shadow: 2px #383638;
}
#Meassage .message_content p {
  font-size: 16px;
  font-weight: 300;
  color: #383638;
}
#Meassage .message_content h6 {
  font-size: 20px;
  font-weight: 600;
  color: #383638;
  text-shadow: 2px #383638;
}
#Meassage .message_content span {
  font-size: 15px;
  font-weight: 300;
}
#Meassage .message_img img {
  width: 500px;
}

@media only screen and (max-width: 992px) {
  .message_content {
    margin: 0 !important;
    padding-top: 50px;
  }
  .message_img img {
    width: 400px !important;
  }
}
#Embark {
  margin: 50px 0;
}
#Embark h4 {
  font-size: 30px;
  font-weight: 600;
  text-shadow: 2px #383638;
  text-align: center;
}
#Embark .embark_content img {
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#Embark .embark_content h6 {
  font-size: 18px;
  font-weight: 600;
  text-shadow: 2px #383638;
  padding-top: 10px;
  color: black;
}
#Embark .embark_content p {
  width: 90%;
  font-size: 15px;
  font-weight: 400;
  color: #383638;
}
#Embark .btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
#Embark .btn a {
  background: #8d31eb;
  padding: 7px 13px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  border-radius: 2px;
}
#Embark .btn a:hover {
  background: none;
  border: 2px solid #8d31eb;
  color: #8d31eb;
  font-size: 15px;
  font-weight: 500;
  transition: 0.5s;
}

@media only screen and (max-width: 992px) {
  .embark_content {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .embark_content img {
    width: 400px !important;
  }
  .embark_content p {
    text-align: center !important;
  }
}
#blog {
  margin: 50px 0;
}
#blog h4 {
  font-size: 30px;
  font-weight: 600;
  text-shadow: 2px #383638;
  text-align: center;
}
#blog .blog_content {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
#blog .blog_content img {
  width: 350px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#blog .blog_content h6 {
  font-size: 15px;
  font-weight: 600;
  padding-top: 15px;
  text-shadow: 2px #383638;
  color: black;
}
#blog .blog_content p {
  font-size: 15px;
  font-weight: 400;
  color: #383638;
}

@media only screen and (max-width: 992px) {
  .blog_content {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .blog_content h6 {
    font-size: 15px !important;
    font-weight: 600;
    padding-top: 15px;
    text-shadow: 2px #383638;
    color: black;
  }
  .blog_content p {
    font-size: 15px !important;
    width: 60% !important;
    font-weight: 400;
    color: #383638;
    text-align: center !important;
  }
}
#commitment {
  margin: 50px 50px;
}
#commitment .right_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#commitment .right_1 h2 {
  color: #383638;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 108.333% */
  text-transform: capitalize;
  padding-top: 250px;
}
#commitment .right_1 p {
  color: #383638;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}
#commitment .commitment_content {
  background: var(--SecondaryBlock-bg, #F7EFFF);
  box-shadow: 0px 13px 29px 0px rgba(0, 0, 0, 0.1), 0px 52px 52px 0px rgba(0, 0, 0, 0.09), 0px 118px 71px 0px rgba(0, 0, 0, 0.05), 0px 210px 84px 0px rgba(0, 0, 0, 0.01), 0px 327px 92px 0px rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
}
#commitment .commitment_content .right {
  width: 300px;
  height: 70px;
  background: #D9D9D9;
  margin-left: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#commitment .commitment_content .left h6 {
  color: #383638;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  padding: 5px 20px;
}
#commitment .commitment_content .left p {
  color: #383638;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  padding: 5px 20px;
}

@media only screen and (max-width: 576px) {
  .commitment_content .right {
    margin-bottom: 100px !important;
  }
}
@media only screen and (max-width: 992px) {
  .commitment_content .right {
    margin-bottom: 100px !important;
  }
}
#FAQ h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px 0;
  font-size: 30px;
  font-weight: 600;
  text-shadow: 2px #383638;
}
#FAQ .FAQ_content {
  max-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid hsl(0, 100%, 96%);
  background: rgba(0, 0, 255, 0.145);
  cursor: pointer;
}
#FAQ .FAQ_content .question {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#FAQ .FAQ_content .question h3 {
  font-size: 18px;
  font-weight: 600;
  color: black;
  text-shadow: 2px #383638;
  padding: 5px 5px;
}
#FAQ .FAQ_content .answers {
  max-height: 0;
  overflow: hidden;
}
#FAQ .FAQ_content .answers p {
  font-size: 15px;
}

.FAQ_content.active .answers {
  max-height: 300px;
}

#Footer {
  background: #f7efff;
}
#Footer .footer_content {
  text-align: center;
  margin: 50px 0;
}
#Footer .footer_content h2 {
  color: #000;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 108.333% */
  text-transform: capitalize;
}
#Footer .footer_content p {
  color: #000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}

.footer_end {
  margin-top: 10px;
}
.footer_end .logo a {
  color: #8d31eb;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 116.667% */
  text-transform: capitalize;
  text-decoration: none;
}
.footer_end .F_nav ul {
  display: flex;
  gap: 2rem;
  padding-top: 2px;
}
.footer_end .F_nav ul a {
  text-decoration: none;
  color: #8d31eb;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}

@media only screen and (max-width: 576px) {
  .footer_content h2 {
    font-size: 30px !important;
  }
  .footer_content p {
    font-size: 15px !important;
  }
  .footer_end .logo a {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center;
  }
}
@media only screen and (max-width: 992px) {
  .footer_content h2 {
    font-size: 30px !important;
  }
  .footer_content p {
    font-size: 15px !important;
  }
  .footer_end .logo a {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center;
  }
  .footer_end .F_nav ul {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
}
#vision {
  background: #f7efff;
  padding: 50px 100px;
}
#vision .vission_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background: #fff;
  border-radius: 5px;
}
#vision .vission_content img {
  padding-top: 10px;
}
#vision .vission_content h4 {
  color: #383638;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 116.667% */
  text-transform: capitalize;
}
#vision .vission_content p {
  color: #383638;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
  text-align: center;
}

@media only screen and (max-width: 992px) {
  .vission_content {
    margin-top: 20px !important;
  }
}
#mission {
  margin-top: 100px;
  background: #fff;
}
#mission .left h2 {
  color: #383638;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px; /* 108.333% */
  text-transform: capitalize;
  line-height: 100px;
}
#mission .left p {
  color: #383638;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}
#mission .left a {
  background: var(--CTA, #8d31eb);
  color: var(--Primary-BG, #f8f8f8);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px; /* 125% */
  text-decoration: none;
  padding: 16px 32px;
  transition: 0.5s;
  border-radius: 5px;
}
#mission .left a:hover {
  background: none;
  border: 2px solid #8d31eb;
  color: #8d31eb;
}
#mission .right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  background: var(--CTA, #8d31eb);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px 20px;
}
#mission .right h4 {
  color: var(--Primary-BG, #f8f8f8);
  /* H4 */
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 116.667% */
  text-transform: capitalize;
}
#mission .right p {
  color: var(--Primary-BG, #f8f8f8);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}

.health {
  margin-top: 100px;
  background: var(--SecondaryBlock-bg, #f7efff);
}
.health .health_content {
  display: flex;
  flex-direction: column;
  margin: 110px 0;
}
.health .health_content h2 {
  color: var(--Secondary-Text, #383638);
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px; /* 108.333% */
  text-transform: capitalize;
}
.health .health_content p {
  color: var(--Secondary-Text, #383638);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 125% */
}
.health .health_content span {
  color: var(--Secondary-Text, #383638);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 125% */
}
.health .health_content em {
  color: var(--Secondary-Text, #383638);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 125% */
}
.health .health_img {
  margin-left: 100px;
}
.health .health_img img {
  width: 400px;
}

@media only screen and (max-width: 992px) {
  .right {
    margin-top: 100px !important;
  }
  .health_img {
    margin-left: 0 !important;
  }
}/*# sourceMappingURL=style.css.map */